.loader {
    position: fixed;
    right: 50%;
    top: 40%;
    z-index: 101;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}